:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #808080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    color: #000000;
    margin-bottom: 10px;
}

.rules {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#body {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

#grid-container {
    display: grid;
    width: 600px;
    height: 600px;
}

#container {
    background-color: #ffffff;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.grid-item {
    border: solid 0.3px #aaaaaa;
    padding: 0.2rem;
}

#buttons {
    width: 150px;
    margin-bottom: 10px;
}

.grid-size {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    box-shadow: 1px 1px;
    border-radius: 5px;
    background: #139f00;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.grid-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 1px 1px;
    border: 1px solid #000000;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background: #ffffff;
    cursor: pointer;
}

.grid-size::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
}

.reset {
    color: #ffffff;
    width: 150px;
    height: 30px;
    background-color: #139f00;
    border-radius: 5px;
}